<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Website Checkout Comment</h2<>
       </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Customer comment on checkout</h2>
        <h3 class="oe_slogan">Your customers can comment their orders on checkout process.</h3>
        <div>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="checkout.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Comment on sale order</h2>
        <h3 class="oe_slogan">You can see the customer comment on sale order form.</h3>
        <div>
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="sale_order.png">
            </div>
        </div>
    </div>
</section>

